 <h1>Blogs</h1>
      {{#each data}}
        <div class="py-3">
          <h3>{{name}}</h3>
          <p class="text-black-50">
            by
            {{author}}
            in
            {{category.name}}
            on
            {{formatDate date}}
            <a
              href="#comments"
              onclick="fetchBlogDetails({{id}}, true)     "
            >Comment ({{comments.length}})</a>
          </p>
          <img
            src="{{thumbpath}}"
            alt="{{name}}"
            class="float-start me-3 border rounded-3"
          />
          <div class="text-black-50">{{{description}}}</div>
        </div>
        <div class="py-3" id="leave-comment">
          <h3>Leave your comments</h3>
          <form
            action="#"
            id="formComment"
            method="post"
            onsubmit="onSubmitComment(event)"
            class="text-black-50"
          >
            <input type="hidden" id="blogId" value="{{id}}" />
            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label for="name" class="form-label">Name(required)</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder=""
                    required
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="email" class="form-label">Email(required)</label>
                  <input
                    required
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder=""
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3">
                <textarea
                  class="form-control"
                  name="comment"
                  id="comment"
                  rows="3"
                  placeholder=""
                ></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-between">
                <div class="form-check-online">
                  <input
                    id="agree"
                    value="1"
                    type="checkbox"
                    class="form-check-input:checkbox"
                    required
                  />
                  <label class="form-check-label" for="first">Argree to terms
                    and conditions</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit Comment
                </button>
              </div>
              <div class="text-center">
                <div class="text-success" id="responseMessage"></div>
              </div>
            </div>
          </form>
        </div>

        <a name="comments"></a>
        <div class="bg-dark text-white-50 p-2">
          COMMENTS ({{comments.length}})
        </div>
        <div class="py-3 text-black-50">
          {{#each comments}}
            <div>
              <p> {{name}} - {{formatDate date}}</p>
              <p>{{summary}}</p>
            </div>
          {{/each}}
        </div>
      {{/each}}